{{- /* appc.Networks variable*/}}
{{- /* appc.Networks[wlName][group][switchIndex][itfceType][itfceSubType] */}}
{{- /* appc.Networks; wlName: oam, 3GPP_Internal, 3GPP_External, 3GPP_SBA, 3GPP_Internet */}}
{{- /* appc.Networks; group: 0: used for LLB/UPF-SMF, AMF, etc; 1..16 used for LMG/UPF */}}
{{- /* appc.Networks; switchIndex: 0: used for loopback and ipvlan, 1 or 2: used for sriov */}}
{{- /* appc.Networks; itfceType: loopback or itfce */}}
{{- /* appc.Networks; itfceSubType: loopback; sigLbk, sysLbk, llbLbk, lmgLbk  */}}
{{- /* appc.Networks; itfceSubType: loopback; group 0: sigLbk, sysLbk, llbLbk  */}}
{{- /* appc.Networks; itfceSubType: loopback; group 1..16: sigLbk, lmgLbk  */}}
{{- /* appc.Networks; itfceSubType: itfce; intIP  */}}
{{- /* appc.Networks; itfceSubType: itfce; group 0: intIP(SMG-LLB, UPF-LLB, AMF)  */}}
{{- /* appc.Networks; itfceSubType: itfce; group 1..16: intIP(UPF-LMG)  */}}
{{- $appc := .Appc}}
{{- $appipmap := .AppIPMap}}
{{- $hostdevice := .HostDevice}}
---
global:
  env_name: amf
  # external: kubectl get ep -n default kubernetes
  # internal: kubectl get svc -n default kubernetes
  k8s_apiserver_endpoints:
    - "{{ $appc.K8sApiServer }}"
  k8s_apiserver_port: 443
  env_separator: '-'
  ne_type: amf
  cmm_uuid: ef4c4186-275b-40ee-afb9-6aeaf317b042
  necccount: 2
  storageclass: {{ $appc.StorageClass}}
  timezone: Europe/Brussels
  aws_ip_mgmt: {{$appc.Aws}}
  aws_ip_mgmt_image: {{$appc.ContainerRepo.ImageRepo}}/aws_ip_mgmt:2.3
  disable_apparmor: true
  rbac_resourcename:
  openshift: false
  cbam: false
  bcmt: false
  cluster_cidr: []
  seLinuxOptions:
    user: system_u
    role: system_r
    type: container_t
    level: "s0:c4,c350"
  necc_stdout_logging: true
  necc_stdout_logs:
    - /data-logs/master.log
    - /data-logs/fslog.log
    - /data-logs/signaling.log
  pod_disruption_budget: true
  pod_disruption_value:
    amms:
      maxUnavailable: 1
    emms:
      minAvailable: 1
    dbs:
      minAvailable: 1
    ipds:
      minAvailable: 50%
    ipps:
      minAvailable: 1
    paps:
      minAvailable: 1
    necc:
      minAvailable: 2
    alms:
      maxUnavailable: '0'
    ctcs:
      minAvailable: 1
    eems:
      minAvailable: 1
    lihs:
      minAvailable: 1
  scale:
    amms:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 80
      memory_utilization: 91
      ue_utilization: 350000
    emms:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 80
      memory_utilization: 91
      ue_utilization: 350000
    dbs:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 80
      memory_utilization: 91
    ipds:
      minReplicas: 2
      maxReplicas: 2
      cpu_utilization: 80
    eems:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 95
      memory_utilization: 95
    alms:
      minReplicas: 1
      maxReplicas: 1
      cpu_utilization: 80
      memory_utilization: 91
    ctcs:
      minReplicas: 1
      maxReplicas: 1
      cpu_utilization: 80
      memory_utilization: 91
    # dummy scale for ipps/paps:
    ipps:
      minReplicas: 0
      maxReplicas: 0
    paps:
      minReplicas: 0
      maxReplicas: 0  
    lihs:
      minReplicas: 1
      maxReplicas: 1
  # kubectl get svc -n kube-system kube-dns
  kubeDNS:
    ip: {{ $appc.K8sDns }}
  prometheus:
    namespaceLabel:
      permission: talk-to-all
    podLabel:
      app: Prometheus
  sbi_net_container_native: false
  sbi_net_container_lb: none
  pvc_hostpath_prefix: /opt/amf
  skipNeccPvcCleanupJob: true
  istio:
    createGateway: True
    gateways:
      - ingress
    privateKey: /etc/istio/ingressgateway-certs/tls.key
    serverCertificate: /etc/istio/ingressgateway-certs/tls.crt
  traefik:
    entryPoints:
    - websecure
  dbs_duplex:  false
  neccvolumes:
    pcmd_pvc: 1Gi
    perf_pvc: 5Gi
    logs_pvc: 1Gi
    kafka_pvc: 1Gi
    influx_pvc: 1Gi
    redis_pvc: 1Gi
    charging_pvc: 1Gi
    pm_pvc: 1Gi
    shared_pvc: 1Gi
    store_pvc: 5Gi
    mariadb_pvc: 2Gi
    sgsnmon_pvc: 1Gi
  almsvolumes:
    redis_pvc: 1Gi
  ctcsvolumes:
    redis_pvc: 1Gi
{{- /* process interface IPs on NECC/OAM workload in ipvlan start */}}
{{- $workloads := index $appc.Networks "oam"}}
{{- $groups := index $workloads 0}}
{{- $switchGroups := index $groups 0 }}
{{- $networks := index $switchGroups "itfce" }}
{{- $networkTypes := index $networks "intIP" }}
{{- $networkInfo := index $networkTypes 0 }}
  oam:
    type: ipv4
    ipv4:
      ip:
        - {{ (index $networkInfo.Ipv4Addresses 0).IPAddress }}
        - {{ (index $networkInfo.Ipv4Addresses 1).IPAddress }}
        - {{ (index $networkInfo.Ipv4Addresses 2).IPAddress }}
      floating_ip: {{ $networkInfo.Ipv4FloatingIP }}
      cidr: {{ $networkInfo.Ipv4Cidr}}
      gw: {{ $networkInfo.Ipv4Gw}}
    interface: {{ $networkInfo.InterfaceEthernetName}}
    host_interface: {{$hostdevice}}.{{$networkInfo.VlanID}}
  alms:
    type: ipv4
    ipv4:
      - {{ (index $networkInfo.Ipv4Addresses 3).IPAddress }}
      cidr: {{ $networkInfo.Ipv4Cidr}}
      gw: {{ $networkInfo.Ipv4Gw}}
    interface: {{ $networkInfo.InterfaceEthernetName}}
    host_interface: {{$hostdevice}}.{{$networkInfo.VlanID}}
  external_cni: {{$networkInfo.Cni}}
{{- /* process interface IPs on NECC/OAM/ALMS workload in ipvlan finished */}}
{{- /* process interface IPs on IPDS workload in ipvlan start */}}
  external:
    ipds:
{{- range $wlName, $workloads := $appc.Networks}}
{{- $groups := index $workloads 0}}
{{- $switchGroups := index $groups 0 }}
{{- $networks := index $switchGroups "itfce" }}
{{- $networkTypes := index $networks "intIP" }}
{{- range $ni, $networkInfo := $networkTypes}}
{{- if ne $wlName "oam"}}
    - name: {{$wlName}}
      type: ipv4
      host_interface: {{$hostdevice}}.{{$networkInfo.VlanID}}
      interface: {{$networkInfo.InterfaceEthernetName}}
      ipv4:
        cidr: {{ $networkInfo.Ipv4Cidr}}
        gw: {{ $networkInfo.Ipv4Gw}}
        ip:
{{- range $ipIndex, $allocatedIP := $networkInfo.Ipv4Addresses}}
          - {{$allocatedIP.IPAddress}}
{{- end}}
{{- end}}
{{- end}}
{{- end}}
  secrets:
    users:
      cmm_passwd: Nuage_7890
      cbamuser_passwd:
      sam5620_passwd:
      cgw_passwd:
      dcae_dfc_passwd:
      rsp_passwd:
      diagnostic_passwd:
      trainee_passwd:
      ca4mn_passwd:
      cmmsecurity_passwd:
      root_passwd: 
    operator_pre_check:
      worker_node_user:
      worker_node_passwd:
      worker_node_sudo_passwd:
      necc_passwd: 
  provisioning:
    # Site specific config
    network_name: {{ $appc.NetworkName }}
    network_short_name: {{ $appc.NetworkShortName }}
    mcc: "{{ $appc.Mcc }}"
    mnc: "{{ $appc.Mnc }}"
    # start/end supi must be enclosed in quotes
{{- range $mainIndex , $supiList := $appc.Supi}}
{{- range $index , $supi := $supiList}}
{{- if eq $mainIndex 0 }}
{{- if eq (mod $index 2) 0}}
    start_supi: "{{ $supi }}"
{{- else}}
    end_supi: "{{ $supi }}"
{{- end}}
{{- else }}
{{- if eq (mod $index 2) 0}}
    start_supi{{$mainIndex}}: "{{ $supi }}"
{{- else }}
    end_supi{{$mainIndex}}: "{{ $supi }}"
{{- end}}
{{- end}}
{{- end}}
{{- end}}
    # min 1 DNN
{{- range $index, $dnn := $appc.Dnn}}
    dnn{{ $index | inc }}: {{$dnn}}
{{- end}}
    # min 1 slice
{{- range $sliceType, $sliceInfo := $appc.Slices}}
    {{ $sliceType}}: {{ $sliceInfo.Value}}
{{- range $sliceDiff := $sliceInfo.Diff }}
{{- range $sliceDiffKey, $sliceDiffValue := $sliceDiff}}
    {{ $sliceDiffKey}}:  {{ $sliceDiffValue }}
{{- end}}
{{- end}}
{{- end}}
    # min 1 tac
    tac:
{{- range $tac := $appc.TrackingArea }}
    - {{ $tac }}
{{- end }}
    # local IP addresses:
{{- $appipmapExternal := index $appipmap.IPinfo "3GPP_External"}}
{{- $appipmapSBA := index $appipmap.IPinfo "3GPP_SBA"}}
{{- $appipmapOam := index $appipmap.IPinfo "oam"}}
    ipv4:
      n2_ip: {{ $appipmapExternal.N2Ipv4}}
      n8_ip: {{ $appipmapSBA.N8Ipv4}}
      n11_ip: {{ $appipmapSBA.N11Ipv4}}
      n12_ip: {{ $appipmapSBA.N12Ipv4}}
      n14_ip: {{ $appipmapSBA.N14Ipv4}}
      n15_ip: {{ $appipmapSBA.N15Ipv4}}
      n17_ip: {{ $appipmapSBA.N17Ipv4}}
      n22_ip: {{ $appipmapSBA.N22Ipv4}}
      n20_ip: {{ $appipmapSBA.N20Ipv4}}
      n26_ip: {{ $appipmapSBA.N26Ipv4}}
      nnrf_ip: {{ $appipmapSBA.NnrfIpv4}}
      nsms_ip: {{ $appipmapSBA.NsmsIPv4}}
      amf_svc_default_ip: {{ $appipmapSBA.AmfSvcDefaultIPv4}}
      amf_svc_loc_ip: {{ $appipmapSBA.AmfSvcLocIPv4}}
      amf_svc_com_ip: {{ $appipmapSBA.AmfSvcComIPv4}}
      amf_svc_ee_ip: {{ $appipmapSBA.AmfSvcEeIPv4}}
      amf_svc_mt_ip: {{ $appipmapSBA.AmfSvcMtIPv4}}
      nfy_eir_ip: {{ $appipmapSBA.NfyEirIPv4}}
      nfy_amf_ip: {{ $appipmapSBA.NfyAmfIPv4}}
      nfy_ausf_ip: {{ $appipmapSBA.NfyAusfIPv4}}
      nfy_nrf_ip: {{ $appipmapSBA.NfyNrfIPv4}}
      nfy_nssf_ip: {{ $appipmapSBA.NfyNssfIPv4}}
      nfy_pcf_ip: {{ $appipmapSBA.NfyPcfIPv4}}
      nfy_smf_ip: {{ $appipmapSBA.NfySmfIPv4}}
      nfy_udm_ip: {{ $appipmapSBA.NfyUdmIPv4}}
    ipv6:
      n2_ip:
      n8_ip:
      n11_ip:
      n12_ip:
      n14_ip:
      n15_ip:
      n17_ip:
      n22_ip:
      n26_ip:
      nnrf_ip:
      nsms_ip:
      amf_svc_default_ip:
      amf_svc_loc_ip:
      amf_svc_com_ip:
      amf_svc_ee_ip:
      amf_svc_mt_ip:
      nfy_eir_ip:
      nfy_amf_ip:
      nfy_ausf_ip:
      nfy_nrf_ip:
      nfy_nssf_ip:
      nfy_pcf_ip:
      nfy_smf_ip:
      nfy_udm_ip:
    dns_ipds_ip1: {{ $appipmapSBA.DnsIpdsIPv41}}
    dns_ipds_ip2: {{ $appipmapSBA.DnsIpdsIPv42}}
    # remote endpoints AMF talks to:
    primary_dns_ip: {{ $appipmapOam.InternetDNS}}
    #nrf_endpoint_ip: 100.112.3.129
    #nrf_endpoint_fqdn:
    #nrf_endpoint_port: 8080
    #nssf_endpoint_ip: 100.112.3.129
    #nssf_endpoint_fqdn:
    #nssf_endpoint_port: 8080
    ausf_endpoint_ip: {{ $appipmapSBA.AusfIPv4}}
    ausf_endpoint_port: 8080
    udm_endpoint_ip: {{ $appipmapSBA.UdmIPv4}}
    udm_endpoint_port: 8080
    smf_endpoint_ip: {{ $appipmapSBA.SmfIPv4}}
    smf_endpoint_port: 8080
    prometheus_ip: {{ $appipmapOam.PrometheusIP}}
  containers:
{{- range $podName, $podInfo := $appc.Containers }}
    {{ $podName }}:
      imageName: {{$appc.ContainerRepo.ImageRepo}}/{{ $podInfo.ImageName}}:{{ $podInfo.ImageTag}}
      resources:
        cpu: {{ $podInfo.CPU }}
        memory: {{ $podInfo.Memory }}
      nodeSelector: {{ $podInfo.NodeSelector }}
{{- if and (eq $podName "necc") (eq $appc.StorageClass "manual")}}
      pvc: false
{{- end}}
{{- if eq $podName "cmm-operator"}}
      imagePullSecret: {{$appc.ContainerRepo.RepoName}}
{{- end}}
{{- $aalength := len $podInfo.Antiaffinity }}
{{- if eq  $aalength 0}}
      antiaffinity: []
{{- else}}
      antiaffinity:
{{- range $antiaffinity := $podInfo.Antiaffinity }}
        - {{ $antiaffinity }}
{{- end }}
{{- end }}
      initialDelaySeconds: {{ $podInfo.InitialDelaySeconds }}
      periodSeconds: {{ $podInfo.PeriodSeconds }}
{{- end }}
cmm-config-map:
  security_level: 3
  ipds_env_multi: false
  cmm_env_l3ns: false
  external_auth_support: false