{{- range .Values.Multus.AttachDef }}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ .Name }}
{{- if .ResourceName }}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: {{ .ResourceName }}
{{- end }}
spec:
  config: |
    {
{{- if .Type }}
        "type": "{{ .Type }}",
{{- else }}
        "type": "host-device",
{{- end }}
        "cniVersion": "{{ .CniVersion }}",
        "name": "{{ .Name }}",
{{- if .PciBusID }}
        "pciBusID": "{{ .PciBusID }}",
{{- end }}
{{- if .DeviceID }}
        "deviceID": "{{ .DeviceID }}",
{{- end }}
{{- if .Device }}
        "device": "{{ .Device }}",
{{- end }}
{{- if .Vlan }}
        "vlan": {{ .Vlan }},
{{- end }}
        "ipam": {}
    }

---
{{- end }}