{{define "irbinterface"}}

{
  "index": "{{.VlanID}}",
    "admin-state": "enable",
    "description": "{{.Description}}",
{{- if ne (len .IPv4Prefix) 0 }}
    "ipv4": {
      {"address": [
{{- range $index, $ipv4prefix := .IPv4Prefix}}
      {{- if $index }},{{end}}
      { "ip-prefix": "{{$ipv4prefix}}",
{{- if $.AnycastGW }}
        "anycast-gw": true,
{{- end}}
{{- end}}
      "arp": {
        "learn-unsolicited": true
        "host-route": {
          "populate":[{
            "route-type": "dynamic"
          }]
        },
        {"evpn": {
          "advertise":[{ 
            "route-type": "dynamic"
          }]
    }}}
{{- end}}
{{- if .AnycastGW }}
    "anycast-gw": {
      "virtual-router-id": {{.VrID}}
      }
{{- end}}
}
{{- if ne (len .IPv6Prefix) 0 }}
    "ipv6": {
      "address": [
{{- range $index, $ipv6prefix := .IPv6Prefix}}
       { "ip-prefix": "{{$ipv6prefix}}"
{{- if $.AnycastGW }}
        ,"anycast-gw": true
{{- end}}
        }
{{- end}}
      "neighbor-discovery": {
        "learn-unsolicited": "both",
        "host-route": {
          "populate": [
              { "route-type": "dynamic"}]
        "evpn":{
          "advertise": [
              {"route-type": "dynamic"}]
        }
    }}
    }]
{{- end}}
{{- end}}