{{define "srlinterface"}}

    {
      "name": "{{.Name}}",
      "description": "paco-{{.Name}}",
      "admin-state": "enable",
      {{- if .VlanTagging}}
        "vlan-tagging": {{.VlanTagging}},
      {{- end}}
      "ethernet": {
        {{- if ne .PortSpeed ""}}
          "port-speed": "{{.PortSpeed}}"
          {{- if eq .LagMember true }},{{- end}}
        {{end}}
        {{- if eq .LagMember true }}
          "aggregate-id": "{{.LagName}}"
        {{- end}}
      }
{{- if eq .Lag true}}
    ,
    "lag": {
      "lag-type: "lacp",
      "member-speed": "{{.PortSpeed}}",
      {{- if eq .Pxe true}}
      "lacp-fallback-mode": "static",
      {{- end}}
      "lacp":{
        "interval": "FAST",
        "lacp-mode": "ACTIVE",
        "admin-key": "{{.AdminKey}}",
        "system-id-mac": "{{.SystemMac}}"
      }
    }
{{- end}}
}

{{end}}
