{{define "subinterface"}}
    {
      "index": "{{.SubInterface.VlanID}}",
{{- if ne .SubInterface.Kind "loopback"}}
    "type": "{{.SubInterface.Kind}}",
{{- end}}
    "admin-state": "enable",
    "description": "paco-{{.SubInterface.InterfaceShortName}}-{{.SubInterface.VlanID}}-{{$.Target}}",
{{- if .SubInterface.VlanTagging}}
    "vlan": {
      "encap": {
{{- if eq .SubInterface.VlanID "0"}}
        "untagged": {}
{{- else}}
        "single-tagged": {
          "vlan-id": "{{.SubInterface.VlanID}}"
        }
{{- end}}
    }}
{{- end}}
{{- if eq .SubInterface.Kind "routed" "loopback"}}
    "ipv4":{
      "address": [
      {"ip-prefix": "{{.SubInterface.IPv4Prefix}}" }
      ]},
    "ipv6":{
      "address": [ 
        {"ip-prefix": "{{.SubInterface.IPv6Prefix}}" }
      ]}
{{- end}}
  }
{{end}}