{{- /* .Sriovc map[string]map[string]map[int]map[string][]*string */}}
{{- /* key1: sriov or ipvlan */}}
{{- /* key2: ServerLogicalInterfacename (bondx) */}}
{{- /* key3: numa */}}
{{- /* key4: switch-name */}}
{{- /* value list of pfNames */}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: sriovdp-config
  namespace: kube-system
data:
  config.json: |
    {
        "resourceList": [
{{- $sriov := index .Sriovc "sriov"}}
{{- range $InterfaceName, $interfaceInfo := $sriov  }}
{{- range $numa, $numaInfo := $interfaceInfo }}
{{- range $switchName, $switchInfo :=  $numaInfo }}
            {
                "resourceName": "sriov_numa{{$numa}}_{{$InterfaceName}}_{{$switchName}}",
                "resourcePrefix": "gke",
                "selectors": {
                    "pfNames": [{{list2string $switchInfo }}]
                }
            }
            ,        
{{- end}}
{{- end}}
{{- end}}
        ]
    }
