{{ define "tngleafgroups" }}
  name: {{.Name}}
  spine_as: {{.SpineAs}}
  leafs:
  {{- range .Leafs }}
    - name: {{.Name}}
      bgpas: {{.BgpAs}}
      id: {{.Id}}
      irbname: {{.IrbName}}
      loname: {{.LoName}}
      uplink_lagname: {{.UplinkLagName}}
      vxlname: {{.VxlName}}
  {{- end }}
  ipvrfs:
  {{- range .IpVrfs}}
    - name: {{.Name}}
      standardname: {{.StandardName}}
      loopback_cidrv4: {{.LoopbackCIDRv4}}
      loopback_cidrv6: {{.LoopbackCIDRv6}}
      vxlanvni: {{.VxlanVni}}
      spine_uplink:
        subnetv4: {{.SpineUplink.Subnetv4}}
        subnetv6: {{.SpineUplink.Subnetv6}}
        vlan: {{.SpineUplink.Vlan}}
      subnets:
        {{- range .Subnets }}
        - cidrv4: 
          {{- range .Cidrv4 }}
            - {{ . }}
          {{- end}}
          cidrv6: 
          {{- range .Cidrv6 }}
            - {{ . }}
          {{- end}}
          name: {{.Name }}
          {{- if ne .Target "" }}
          target: {{.Target}}
          {{- end }}
          type: {{.Type}}
          vlan: {{.Vlan}}
        {{- end -}}
  {{- end -}}
{{- end -}}
