{{ define "tngleafgroups" }}
  name: {{.Name}}
  spine_as: {{.SpineAs}}
  bgp_loop:
    infra_ipvrf: {{.Loop.Infra_ipvrf}}
    infra_itf: {{.Loop.Infra_itf}}
    k8s_infra_as: {{.Loop.K8s_infra_as}}
    paco_itf: {{.Loop.Paco_itf}}
    paco_overlay_as: {{.Loop.Paco_overlay_as}}
  leafs:
  {{- range .Leafs }}
    - name: {{.Name}}
      bgpas: {{.BgpAs}}
      id: {{.Id}}
      irbname: {{.IrbName}}
      loname: {{.LoName}}
      uplink_lagname: {{.UplinkItfname}}
      vxlname: {{.VxlName}}
  {{- end }}
  ipvrfs:
  {{- range .IpVrfs}}
    - name: {{.Name}}
      standardname: {{.StandardName}}
      leaf1routerid: {{.Leaf1routerid}}
      leaf2routerid: {{.Leaf2routerid}}
      {{- if .InfraBgp }}
      k8s_infra_bgp: 
        leaf1_local_address: {{.InfraBgp.Leaf1_local_address}}
        leaf1_peer_address: {{.InfraBgp.Leaf1_peer_address}}
        leaf2_local_address: {{.InfraBgp.Leaf2_local_address}}
        leaf2_peer_address: {{.InfraBgp.Leaf2_peer_address}}
      {{- end }}
      vxlanvni: {{.VxlanVni}}
      spine_uplink:
        leaf1_local_address: {{.SpineUplink.Leaf1_local_address}}
        leaf1_uplink_peers:
        {{- range .SpineUplink.Leaf1_uplink_peers}}
          - {{ . }}
        {{- end }}
        leaf2_local_address: {{.SpineUplink.Leaf2_local_address}}
        leaf2_uplink_peers:
        {{- range .SpineUplink.Leaf2_uplink_peers}}
          - {{ . }}
        {{- end }}
        vlan: {{.SpineUplink.Vlan}}
      subnets:
        {{- range .Subnets }}
        - name: {{.Name }}
          {{- if ne .Target "" }}
          target: {{.Target}}
          {{- end }}
          type: {{.Type}}
          vlan: {{.Vlan}}
          gateways: 
          {{- range .Gatewaysv4 }}
            - {{ . }}
          {{- end}}
        {{- end -}}
  {{- end -}}
{{- end -}}
